<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#BFD254" />
  <title>Test Landing</title>
  <meta name="author" content="Рязанский центр стоматологической имплантации">
  <meta name="description" content="Рязанский центр стоматологической имплантации">
  <meta name="keywords" content="салон красоты, парикмахерская Рязань, маникюр, массаж, косметолог Рязань">

  <!-- SOCIAL MEDIA META -->
  <!-- <meta property="og:description" content="Рязанский центр стоматологической имплантации!">
  <meta property="og:image" content="" />
  <meta property="og:image:secure_url" content="" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" />
  <meta property="og:site_name" content="Рязанский центр стоматологической имплантации">
  <meta property="og:title" content="Рязанский центр стоматологической имплантации">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.ShokoLab.ru/"> -->

  <!-- TWITTER META -->
  <!-- <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="sokolab.ru">
  <meta name="twitter:creator" content="Рязанский центр стоматологической имплантации">
  <meta name="twitter:title" content="Рязанский центр стоматологической имплантации">
  <meta name="twitter:description" content="Рязанский центр стоматологической имплантации">
  <meta name="twitter:image" content=""> -->

  <!-- FAVICON FILES -->
  <!-- <link href="./favicon/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
  <link href="./favicon/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
  <link href="./favicon/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
  <link href="./favicon/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
  <link href="./favicon/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  <link href="./favicon/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
  <link href="./favicon/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
  <link href="./favicon/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
  <link href="./favicon/apple-touch-icon-57x57.png" rel="apple-touch-icon">
  <link href="./favicon/apple-touch-icon.png" rel="shortcut icon">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
  <link rel="manifest" href="./favicon/site.webmanifest">
  <meta name="msapplication-TileColor" content="#BFD254">
  <meta name="theme-color" content="#BFD254"> -->

  <!-- CSS FILES -->
  <link rel="stylesheet" href="css/style.bundle.css" />
</head>

<body>
  <section class="main">
    <div class="wrapper">
      <div class="main__logo">
        <img src="./images/logo.svg" alt="Email Matrix" class="main__logo--img">
      </div>
      <div class="main__heading">
        <h1 class="main__heading--title">Как настроить идеальную
          емейл-маркетинговую кампанию?</h1>
      </div>
      <div class="form-wrap">
        <div class="form-wrap__left">
          <p>Специалисты EmailMatrix готовы дать ответы
            по любым вопросам емейл-маркетинга:</p>
          <span>
            от построения стратегии
            до технических деталей
            кампании
          </span>
        </div>
        <div class="form-wrap__right">
          <form action="./php/mail.php" method="POST">
            <div class="flex-wrap">
              <label for="name">Имя</label>
              <input type="text" name="name" id="name" required>
            </div>
            <div class="flex-wrap">
              <label for="company">Организация</label>
              <input type="text" name="company" id="company" required>
            </div>
            <div class="flex-wrap">
              <label for="email">Емейл</label>
              <input type="email" name="email" id="email" required>
            </div>
            <div class="flex-wrap">
              <label for="phone">Телефон</label>
              <input type="text" name="phone" id="phone" required>
            </div>
            <div class="flex-wrap">
              <input type="checkbox" class="checkbox" id="checkbox">
              <label for="checkbox" class="checkbox-label">Подписаться на рассылку EmailMatrix</label>
              <button class="form-btn" type="submit">Отправить</button>
            </div>
          </form>
        </div>
      </div>
      <div class="footer">
        <div class="footer-wrap__left">
          <div class="footer__contact">
            <img src="./images/geo.svg" alt="" class="footer__contact--icon">
            <p class="footer__contact--text">Рязань: 390037, ул. Советской Армии, д. 19, к. 2, Н4.</p>
          </div>
          <div class="footer__contact">
            <img src="./images/phone.svg" alt="" class="footer__contact--icon">
            <p class="footer__contact--text big">+7 (495) 649-62-19</p>
          </div>
        </div>
        <div class="footer-wrap__right">
          <ul class="footer__list">
            <li class="footer__list--item"><a href="" class="footer__list--link"><img class="footer__list--img" src="./images/facebook.png" alt="facebook"></a></li>
            <li class="footer__list--item"><a href="" class="footer__list--link"><img class="footer__list--img" src="./images/twitter.png" alt="twitter"></a></li>
            <li class="footer__list--item"><a href="" class="footer__list--link"><img class="footer__list--img" src="./images/pinterest.png" alt="pinterest"></a></li>
            <li class="footer__list--item"><a href="" class="footer__list--link"><img class="footer__list--img" src="./images/slideshare.png" alt="slideshare"></a></li>
            <li class="footer__list--item"><a href="" class="footer__list--link"><img class="footer__list--img" src="./images/youtube.png" alt="youtube"></a></li>
            <li class="footer__list--item"><a href="" class="footer__list--link"><img class="footer__list--img" src="./images/linkedin.png" alt="linkedin"></a></li>
          </ul>
          <div class="footer__company">
            <p class="footer__company--item">© 2010—2015 EmailMatrix,</p>
            <p class="footer__company--item">ООО «АЙЭЙДЖ МАРКЕТИНГ»</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="./js/bundle.js"></script>
</body>

</html>