@import "~bootstrap/scss/bootstrap";

body {
  font-family: "OpenSans";
	font-size: 16px;
	line-height: 22px;
	color: $black;
}
// ЦВЕТА
$lite_grey: #898989;
$dark_grey: #707070;
$background: #f2f2f2;
$blue: #4676a9;
$black: #474747;
$black_second: #2a2a2a;
$white: #FFFFFF;
// ЗАГОЛОВКИ
h1 {
	color: #474747;
	font-size: 2.563rem;
	font-weight: 900;
	text-transform: uppercase;
}
h2 {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
}

a {
	transition: 0.3s;
	&:hover {
		transition: 0.3s;
	}
}
button {
	transition: 0.3s;
	border: none;
	&:hover {
		transition: 0.3s;
	}
}
.main {
	height: 100vh;
	position: relative;
	background: $background;
	z-index: 1;
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: 
		url(./../images/flower.png) no-repeat right top,
		url(./../images/wood-cubes.png) no-repeat 20% top,
		url(./../images/scketchbook.png) no-repeat 5% bottom,
		url(./../images/pen.png) no-repeat 85% bottom;
		background-size: auto, auto, auto;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
	}
	&-logo {
		margin-top: 5rem;
		margin-bottom: 4.3rem;
	}
	&-heading {
		text-align: center;
	}
}
.wrapper {
	max-width: 846px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form-wrap {
	display: flex;
	margin-top: 7.5rem;
	&__left, &__right {
		width: 50%;
	}
	&__left {
		padding-right: 4rem;
		p {
			font-size: 1rem;
			font-weight: 300;
		}
		b {
			text-transform: uppercase;
			font-size: 1.5rem;
			font-weight: 900;
			color: $black;
		}
	}
	.flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 1.4rem;
		&:first-child {
			margin-top: 0;
		}
	}
	label {
		margin: 0;
		font-size: 0.875rem;
		font-weight: 300;
		line-height: 1.875rem;
		color: $black;
	}
	input {
		min-width: 70%;
	}
	.checkbox {
		min-width: unset;
	}
}

@mixin main_btn {
	background: $blue;
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 1.875rem;
	text-align: center;
	color: $white;
	box-shadow: 0.188rem 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
	&:hover {
		text-decoration: none;
		color: $blue;
		background: $white;
	}
}

// Responsive - ДОЛЖЕН БЫТЬ ВСЕГДА ПОСЛЕДНИМ!!!
@import "fonts", "media";
